@{
    ViewData["Title"] = "Sobre el desarrollador";
}
<div class="texto">
    <h1>@ViewData["Title"]</h1>
</div>

<hr>

<h2>Hola!</h2>
<br>

<p class="parrafo">
    Mi nombre es Tomás Morales, un apasionado por la tecnología y el desarrollo de software. Soy un programador autodidacta y me gusta aprender nuevas habilidades para mejorar mis capacidades. 
</p>

<p class="parrafo">
    Actualmente me encuentro estudiando <strong>ingeniería en ciencias y sistemas</strong> en la universidad de San Carlos de Guatemala, cursando el sexto semestre.
</p>

<p class="parrafo">
    Tengo experiencia en el manejo de lenguajes como <strong>Java, C#, Python</strong> y en tecnologías como <strong>Entity Framework, SQL server, LINQ y ASP.NET</strong> también poseo conocimiento en <strong>HTML y CSS</strong>. Me gusta utilizar los conocimientos adquiridos en mi formación académica para poder resolver problemas de manera eficiente. 
</p>

<p class="parrafo">
    Me gusta trabajar en equipo y considero que soy un buen compañero de equipo. Soy proactivo y siempre busco nuevas formas de mejorar mis habilidades y aportar a los proyectos en los que trabajo.
    Estoy entusiasmado por aprender más sobre diferentes tecnologías y aplicarlas en proyectos reales. Mi objetivo es convertirme en un desarrollador de software experto y aplicar los conocimientos que he adquirido en mi carrera universitaria.
</p>

<hr>
