@{
    ViewData["Title"] = "Contacto del desarrollador";
}
<div class="texto">
    <h1>@ViewData["Title"]</h1>
</div>

<hr>

<h2>Hola!</h2>
<br>

<p class="parrafo">
    Mi nombre es Tomás Morales, un apasionado por la tecnología y el desarrollo de software.
</p>

<p class="parrafo">
    Actualmente me encuentro estudiando <strong>ingeniería en ciencias y sistemas</strong> en la universidad de San Carlos de Guatemala, cursando el sexto semestre.
</p>

<p>
    Te dejo mi contacto para que podamos conversar 🥸
</p>

<ul>
    <li><a href="https://www.linkedin.com/in/tomas-morales-s/" target="_blank"><strong>LinkedIn</strong></a></li>
    <br>
    <li><a href="https://github.com/AlejoMora991014" target="_blank"><strong>GitHub</strong></a></li>
</ul>

<hr>
