@{
    ViewData["Title"] = "Instrucciones de uso";
}
<div class="texto">
    <h1>@ViewData["Title"]</h1>
</div>

<hr>

<h2>Hola!</h2>
<h5>Acá te dejo algunas aclaraciones e instrucciones para que puedas utilizar la aplicación, espero te sea de utilidad.</h5>
<br>

<hr />

<h1>¿Qué es?</h1>
<p class="parrafo">
    Spliter es una herramienta que te ayuda a poder manipular contenido de texto, es decir que puedes realizar diferentes modificaciones a un texto que ingresas en la caja de contenido 😀
</p>

<br/>
<br/>

<hr>

<h1>¿Qué puede hacer la aplicación?</h1>

<p class="parrafo">
Al utilizar Spliter puedes realizar modificaciones de texto rápidas sin necesidad de descargar aplicaciones en tu dispositivo.
</p>

<br />

<h3>Eliminar espacios en blanco</h3>

<p class="parrafo" >
    Podrás eliminar espacios en blanco entre el texto, es decir que si nuestro texto original posee espacios en blanco extras podremos eliminarlos para que nos quede más legible.
</p>

<br/>

<figure>
    <img src="https://i.imgur.com/5wMTR13.jpg" alt="Imagen que muestra el area de texto inicial.">
    <figcaption style="font-style: italic;">Texto inicial</figcaption>
</figure>

<br/>

<figure>
    <img src="https://i.imgur.com/IZD5Cgy.jpg" alt="Imagen que muestra la seleccion para eliminar espacios en blanco.">
    <figcaption style="font-style: italic;">Seleccionamos la opción de “Eliminar espacios en blanco”</figcaption>
</figure>

<br />

<figure>
    <img src="https://i.imgur.com/wQD82gQ.jpg" alt="Imagen que muestra el boton de ejecutar.">
    <figcaption style="font-style: italic;">Presionamos el botón de ejecutar para comenzar el proceso.</figcaption>
</figure>

<br />

<figure>
    <img src="https://i.imgur.com/QuChExO.jpg" alt="Imagen que muestra resultado de la ejecucion">
    <figcaption style="font-style: italic;">Texto resultante.</figcaption>
</figure>

<br />

<hr>

@*Apartado de saltos de linea*@

<h3>Eliminar saltos de linea extra</h3>

<p class="parrafo">
    Utilizando la opción “Eliminar saltos de línea” podrás estandarizar todo el texto a solo un salto de línea.
</p>

<br />


<figure>
    <img src="https://i.imgur.com/KOULkzd.jpg" alt="Imagen que muestra el texto ingresado">
    <figcaption style="font-style: italic;">Texto ingresado.</figcaption>
</figure>

<br />


<figure>
    <img src="https://i.imgur.com/2nNDXCg.jpg" alt="Imagen que muestra la opcion seleccionada">
    <figcaption style="font-style: italic;">Seleccionamos la opción “Eliminar saltos de línea” y presionamos el boton "ejecutar"</figcaption>
</figure>

<br />

<figure>
    <img src="https://i.imgur.com/clAgIZm.jpg" alt="Imagen que muestra el texto resultante">
    <figcaption style="font-style: italic;">Imagen que muestra el texto resultante.</figcaption>
</figure>

<br />

<hr />

@*Apartado de remplazar cadenas*@

<h3>Remplazar texto</h3>

<p class="parrafo">
    Podrás realizar un remplazo de palabras ya sea por palabras especificas o por “Expresiones Regulares" 
    (tomar en cuenta que a cada expresión se le agrega un carácter ‘+’ al final).
</p>

<br />


<figure>
    <img src="https://i.imgur.com/vvqe9Lc.jpg" alt="Imagen que muestra el texto ingresado">
    <figcaption style="font-style: italic;">Texto ingresado.</figcaption>
</figure>

<br />


<figure>
    <img src="https://i.imgur.com/NuMPTT5.jpg" alt="Imagen que muestra las casillas que debemos llenar.">
    <figcaption style="font-style: italic;">Indicamos el texto buscado y el texto que tomara su lugar.</figcaption>
</figure>

<br />

<figure>
    <img src="https://i.imgur.com/gcWIAAx.jpg" alt="Imagen que muestra la seleccion de la opcion y el boton de ejecutar.">
    <figcaption style="font-style: italic;">Seleccionamos la opción “Remplazar contenido” y lo ejecutamos</figcaption>
</figure>

<br />

<figure>
    <img src="https://i.imgur.com/Fu0P9SK.jpg" alt="Imagen que muestra el resultado de la ejecucion.">
    <figcaption style="font-style: italic;">Texto resultante</figcaption>
</figure>

<br />

<hr />

@*Apartado de split*@

<h3>Aplicar un separador a nuestro texto</h3>

<p class="parrafo">
    Podrás aplicar un separador en todo el texto, esto aplicará la función “Split”, el separador lo que hará es tomar el 
    texto y dividir el contenido de nuestro texto mediante el texto/carácter que le mandemos. El resultado se visualizará 
    en una tabla HTML, dicha tabla la podremos descargar en formato “XLSX” ( futuramente en otros formatos).
</p>

<br />

<p class="parrafo">
    Se aconseja utilizar esta función para poder visualizar de manera más legible textos que vengan en formato CSV,
    por ejemplo, si tiene un listado de números de la siguiente manera : “1,2,3,4,5,6,7,8,9,10…” podrá poner el carácter de
    “coma” como separador para que los números se le sean presentados en una tabla y pueda manipularlos como prefiera.
</p>

<br />

<figure>
    <img src="https://i.imgur.com/pssql5F.jpg" alt="Imagen que muestra el texto ingresado">
    <figcaption style="font-style: italic;">Texto ingresado.</figcaption>
</figure>

<br />

<figure>
    <img src="https://i.imgur.com/pZvugvy.jpg" alt="Imagen que muestra el separador ingresado">
    <figcaption style="font-style: italic;">Nuestro separador indicara un punto de corte en el texto, cabe aclarar 
        que este separador no se tomara en cuenta en la cadena.</figcaption>
</figure>

<br />

<figure>
    <img src="https://i.imgur.com/fvqHJ4A.jpg" alt="Imagen que muestra la seleccion y el boton de ejecucion.">
    <figcaption style="font-style: italic;">Seleccionamos la opción “Aplicar separador en el texto” y ejecutamos.</figcaption>
</figure>

<br />


<figure>
    <img src="https://i.imgur.com/JbEtvPq.jpg" alt="Imagen que muestra un mensaje de resultado.">
    <figcaption style="font-style: italic;">Mensaje en la caja de resultados.</figcaption>
</figure>

<br />

<figure>
    <img src="https://i.imgur.com/c0yZBcf.jpg" alt="Imagen que muestra la tabla resultante.">
    <figcaption style="font-style: italic;">Imagen que muestra la tabla resultante y el boton que permite la descarga de
         la tabla en los formatos disponibles.</figcaption>
</figure>

<br />


<hr />

<h2>NOTA :::::::::</h2>
<p class="parrafo" style="font-style: italic;">

    Este proyecto es de uso público y sin fines de lucro. Si he infringido alguna normativa relacionada
    con derechos de autor o la utilización de librerías, estoy abiertos a dialogar y llegar a un acuerdo.
    Buscando asegurarme de que el proyecto sea ético y legal. Agradezco tu comprensión y colaboración. ¡Muchas gracias!
</p>
