html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}



html {
    position: relative;
    min-height: 100vh;
}

body {
    margin-left: 0;
    margin-bottom: 10vh;
}

.parrafo {
    text-align: justify;
}

.texto {
    display: inline-block;
}

    .texto h1 {
        color: black;
        overflow: hidden;
        border-right: 0.1rem solid black;
        white-space: nowrap;
        animation: typing 1.5s steps(20, end) forwards, blinking 1s infinite;
    }

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blinking {
    from {
        border-color: transparent;
    }

    to {
        border-color: black;
    }
}

.contenedor1 {
    padding: 1rem;
    width: 80vw;
}

.contenedor2 {
    padding: 1rem;
    width: 80vw;
}

.contenedor3 {
    padding: 1rem;
    width: 80vw;
}

.contenedorPadre {
    display: block;
    width: 80vw;
}


.nav-link {
    margin-left: 0.5rem;
}

    .nav-link:hover {
        font-weight: bold;
    }

form {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    min-width: 250px;
}

.form-floating > .form-control,
.form-floating > .form-select {
    /* position: ; */
    height: 30vh;
    resize: none;
    width: 80vw;
}

textarea {
    max-width: 80vw;
    padding: 1rem;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.10rem white, 0 0 0 0.25rem #258cfb;
}

.form-floating:not(.form-control:disabled)::before {
    width: 78vw;
}


.input-group {
    width: 80vw;
}


.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}


.form-select {
    width: 80vw;
}

.table {
    width: 80vw;
}


@media (min-width: 600px) {
    .container_propio {
        display: flex;
        justify-content: center;
    }

    .form-floating:not(.form-control:disabled)::before {
        width: 78vw;
    }
}

figure{
    width: 80vw;
}
img{
    width: 80vw;
}